@import "global";
@import "./responsive.scss";
.details-container {
  padding: 50px 50px 0px 50px;
}
* {
  color: white;
}
.course-title {
  font-size: var(--fs-lg);
}
.course__price{
  font-size: var(--fs-xl);
  color:$black;
}
.enter-coupon{
  background-color: rgb(243, 243, 243);
}
.form__add-to-cart{
  background-color: $secondary;
  padding:8px 16px;
  font-weight: 500;
  font-size: var(--fs--xs);
}
.bi-star-fill , .bi-star-half{
color:gold;
}
.course-description{
  font-size: var(--fs--base);
  font-weight: 400;
}
.apply-button {
  background-color: black;
  padding: 5px;
  font-size: 0.9rem;
}
.right-section {
  background-color: rgb(248, 248, 248);
}
.notes {
  margin-bottom: 2em;
}
.ratings {
  margin-top: 2em;
}
.links {
  margin: 0px 5px 0px 5px;
  font-weight: 700;
  font-size: 0.9em;
  color: $link;
}
.link {
  font-size: 0.9em;
  font-weight: 700;
}
.course-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("/assets/images/learn-python.jpeg");
  height: 15em;
}
.play-button {
  cursor: pointer;
}
