<div class="details bg-dark container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <h6><span class="links">Development</span>><span class="links">Programing Languages</span>><span class="links">Python</span></h6>
               </div>
               <div class="col-12 mt-3">
                <h1 class="course-title">Automate the Boring Stuff with Python Programming</h1>
               </div>
               <div style="margin-top:1em;" class="col-12 ">
                <h5 class="course-description light">A practical programming course for office workers, academics, and administrators who want to improve their productivity.</h5>
               </div>
               <div class="ratings col-12 small-text ">
                <div class="d-flex flex-row align-items-center">
                    <h6 class="pe-1">4.6 <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i></h6>
                    <h6 class="px-1 light link link">(134,893 Ratings)</h6>
                    <h6 class="px-1">112,670 Students</h6>
                </div>
            </div>
            <div class="col-12 mt-3 small-text">
                <h6 style="font-size:0.9em;">Created by <span class="link">John Swegart</span></h6>
            </div>
            <div class="notes col-12 mt-3 small-text">
                <div class="d-flex flex-row align-items-center">
                    <h6 class="pe-4 "> <i class="pe-1 bi bi-journal-text"></i> Last updated 2/2023</h6>
                    <h6 class="px-2 "> <i class="pe-1 bi bi-globe-americas"></i> English</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-5 col-4 bg-white">
        d
    </div>
  </div>
</div>