<div class="details-container bg-dark container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-7 order-lg-1 order-2 d-lg-block d-none">
      <div class="row">
        <div class="col-12 d-flex d-lg-block d-none">
          <h6>
            <span class="links">Development</span>><span class="links"
              >Programing Languages</span
            >><span class="links">Python</span>
          </h6>
        </div>
        <div
          class="col-12 mt-3 d-flex justify-content-lg-start justify-content-center"
        >
          <h1 class="course-title">
            {{ course.title }}
          </h1>
        </div>
        <div style="margin-top: 1em" class="col-12">
          <h5 class="course-description">
            A practical programming course for office workers, academics, and
            administrators who want to improve their productivity.
          </h5>
        </div>
        <div class="ratings col-12 small-text">
          <div class="d-flex flex-row align-items-center">
            <h6 class="pe-1">
              4.6 <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i>
            </h6>
            <h6 class="px-1 light link link">(134,893 Ratings)</h6>
            <h6 class="px-1">112,670 Students</h6>
          </div>
        </div>
        <div class="col-12 mt-3 small-text">
          <h6 style="font-size: 0.9em">
            Created by
            <span class="link"
              >{{ course.author.firstName }} {{ course.author.lastName }}</span
            >
          </h6>
        </div>
        <div class="notes col-12 mt-3 small-text">
          <div class="d-flex flex-row align-items-center">
            <h6 class="pe-4">
              <i class="pe-1 bi bi-journal-text"></i> Last updated 2/2023
            </h6>
            <h6 class="px-2">
              <i class="pe-1 bi bi-globe-americas"></i> English
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div
      style="max-width: 25em"
      class="col-lg-5 order-lg-2 order-1 right-section"
    >
      <div class="row d-flex justify-content-start">
        <div class="col-12 d-flex d-lg-none d-sm-block d-none p-0">
          <h6>
            <span class="links">Development</span>><span class="links"
              >Programing Languages</span
            >><span class="links">Python</span>
          </h6>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div
          style="position: relative"
          class="course-image p-0 col-12 d-flex justify-content-center"
          [ngStyle]="{
            'background-image':
              'linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0)
          ),
          url(' +
              course.thumbnailLink +
              ')',
          }"
        >
          <div class="row">
            <div
              (click)="openWindow()"
              class="col-12 play-button d-flex justify-content-center align-items-center"
            >
              <i
                style="font-size: 4em"
                class="d-flex justify-content-center bi bi-play-circle-fill"
              ></i>
            </div>
            <div
              style="position: absolute; bottom: 0; left: 0%"
              class="col-12 d-flex align-items-end justify-content-center"
            >
              <h6 class="pb-2 text-end bold">Preview This Course</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-lg-none d-flex mt-3">
        <div class="col-12 mt-3">
          <h1 class="course-title text-start">
            {{ course.title }}
          </h1>
        </div>
        <div style="margin-top: 1em" class="col-12">
          <h5 class="course-description light">
            A practical programming course for office workers, academics, and
            administrators who want to improve their productivity.
          </h5>
        </div>
        <div class="ratings col-12 small-text">
          <div class="d-flex flex-row align-items-center">
            <h6 class="pe-1">
              4.6 <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i>
            </h6>
            <h6 class="px-1 light link link">(134,893 Ratings)</h6>
            <h6 class="px-1">112,670 Students</h6>
          </div>
        </div>
        <div class="col-12 mt-3 small-text">
          <h6 style="font-size: 0.9em">
            Created by
            <span class="link"
              >{{ course.author.firstName }} {{ course.author.lastName }}</span
            >
          </h6>
        </div>
        <div class="notes col-12 mt-3 small-text">
          <div class="d-flex flex-row align-items-center">
            <h6 class="pe-4">
              <i class="pe-1 bi bi-journal-text"></i> Last updated 2/2023
            </h6>
            <h6 class="px-2">
              <i class="pe-1 bi bi-globe-americas"></i> English
            </h6>
          </div>
        </div>
        <hr />
        <div class="col-12 d-flex justify-content-center">
          <div class="row">
            <div class="col-12 d-flex justify-content-start mb-3">
              <h4 class="text-start course__price bold">{{ course.price }}$</h4>
            </div>
            <div class="col-12">
              <button class="form__add-to-cart" (click)="addToCart(course._id)">
                Add To Cart
              </button>
            </div>
            <div class="col-12">
              <div class="col-12 d-flex justify-content-center mb-3">
                <div class="d-flex w-100 flex-row mb-3 mt-3">
                  <input
                    style="padding: 5px; width: 100%"
                    placeholder="Enter Coupon"
                  />
                  <button class="apply-button">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        style="position: relative"
        class="row d-flex d-lg-flex d-none justify-content-center mt-4"
      >
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <h3 class="course__price">${{ course.price | money }}</h3>
            </div>
            <div class="col-12 mt-2 d-flex justify-content-center">
              <button class="form__add-to-cart" (click)="addToCart(course._id)">
                Add To Cart
              </button>
            </div>

            <div
              style="position: absolute; top: 100%; width: 120%; left: 0%"
              class="col-12 enter-coupon d-flex justify-content-center mb-3"
            >
              <div class="d-flex flex-row mb-3 mt-3">
                <input
                  style="padding: 4px; color: black"
                  placeholder="Enter Coupon"
                />
                <button class="apply-button">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
