@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "global";
* {
  color: $black;
}
.sticky-nav {
  background-color: white;
  color: black;
  position: sticky !important;
  top: 0px;
  z-index: 10000;
}
/*navbar component*/
.navbar {
  margin-bottom: var(--rowgap-3xl);
}
.navbar__logo {
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
  margin-right: var(--columnpadding-3xl);
}
.navbar__links-row {
  padding: 0px var(--columnpadding-xl);
}
.navbar__link {
  font-size: var(--fs-base);
  padding: var(--columnpadding-xl);
}
.nav-row {
  padding: 30px 0px;
}
.sticky {
  position: fixed;
}
.list-item {
  font-size: clamp(0.8rem, 1vw, 0.9rem) !important;
  text-align: center;
}
.navbar__button {
  border: 1px solid $black;
  background-color: $secondary;
  color: white;
  font-weight: 700;
  padding: 8px 16px;
}
.navbar__collapse-row {
  border-top: 1px solid $black;
}
.dropdown-item{
  font-size:var(--fs--sm);
  padding:20px;
}
.navbar__profile-icon{
  font-size:var(--fs-md);
  cursor: pointer; 
  padding-left:var(--columnpadding-2xl)
}
.navbar__cart {
  padding-right: var(--columnpadding-5xl);
  font-size: var(--fs-md);
}
.list-button:hover {
  transition: 0.5s;
  background-color: whitesmoke;
}
.list-button-white {
  color: black !important;
  border-color: black;
}
/*Utils*/
.dropdown-menu {
  padding: 15px;
  font-size: var(--fs-base);
}
/**/
