<!-- Navbar -->
<nav
  style="background-color: transparent; position: fixed; width: 100%"
  class="navbar navbar-expand-lg mb-5"
>
  <!-- Container wrapper -->
  <div style="padding: 15px 50px 15px 50px" class="container-fluid">
    <!-- Navbar brand -->
    <a [routerLink]="['/']" class="navbar-brand me-2">
      <img
        class="logo"
        src="assets/images/benova_logo.png"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Toggle button -->

    <i
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler bi bi-list"
    ></i>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->

      <div
        style="margin-left: 2%; width: 20%"
        class="navbar-nav me-auto mb-2 mb-lg-0 form-group has-search"
      >
        <i class="bi bi-search form-control-feedback"></i>
        <input
          type="text"
          class="form-control"
          placeholder="Search Courses..."
        />
      </div>
      <!-- Left links -->

      <div class="list d-none d-md-flex align-items-center">
        <a>Home</a>
        <a>Browse Courses</a>
        <a>About</a>
        <a>Blog</a>
        <a>Contact</a>
        <a style="position: relative;" [routerLink]="['/cart']">
          <i
            style="color: black; font-size: 1rem"
            class="fa badge fa-lg"
            >&#xf07a;</i
          ><span style="position:absolute;top:-12px;right:44px;color:black;font-weight: bold;">{{ coursesService.getCartCoursesService().length }}</span></a
        >
        <a>
          <rectangle-btn
            style="float: right"
            [color]="'secondary'"
            [size]="'medium'"
          >
            Login</rectangle-btn
          >
        </a>
      </div>
      <div class="list d-md-none">
        <i
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#listcollapse"
          aria-controls="collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="bi bi-list"
        ></i>
        <div class="collapse navbar-collapse" id="listcollapse">
          <div class="d-flex flex-column">
            <a>Home</a>
            <a>Browse Courses</a>
            <a>About</a>
            <a>Blog</a>
            <a>Contact</a>
          </div>
        </div>
        <a>
          <rectangle-btn
            style="float: right"
            [size]="'large'"
            [style]="'width:5em;'"
          >
            Login</rectangle-btn
          >
        </a>
        <a
          [routerLink]="['/cart']"
          class="cart"
          style="
            text-decoration: none;
            float: right;
            font-size: 2rem !important;
            color: black;
          "
          ><i class="fa badge fa-lg" value="5">&#xf290;</i>
          <i class="fa badge fa-lg" value="8">&#xf07a;</i>
          ></a
        >
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
