<div class="container-fluid navbar">
  <div
    class="nav-row w-100 d-flex flex-row align-items-center justify-content-between"
  >
    <div class="d-flex flex-row align-items-center">
      <h3 class="navbar__logo nav-item" [routerLink]="['/']">EchoWave</h3>
      <h3 class="logo__v-line d-sm-block d-none">|</h3>

      <div class="navbar__links-row d-flex flex-row d-md-flex d-none">
        <h5 class="navbar__link">Browse Products</h5>

        <h5 class="navbar__link">About</h5>

        <h5 class="navbar__link">Conatct Us</h5>
      </div>
      <div class="navbar__links-row dropdown d-md-none d-sm-block d-none">
        <h5 data-bs-toggle="dropdown">Links</h5>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Browse Courses</a></li>
          <li><a class="dropdown-item" href="#">About us</a></li>
          <li><a class="dropdown-item" href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-end d-sm-flex d-none">
      <a
        class="nav-item"
        style="position: relative; color: inherit"
        [routerLink]="['/cart']"
      >
        <i class="navbar__cart bi bi-cart2"></i
        ><span
          style="position: absolute; top: -12px; left: 9px; font-weight: bold"
          ></span
        ></a
      >

      <div class="dropdown">
        <i
          *ngIf="isLoggedIn"
          class="navbar__profile-icon bi bi-person-circle"
          data-bs-toggle="dropdown"
        ></i>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-gear-wide me-2"></i>Settings</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-list me-1"></i> My Courses</a
            >
          </li>
          <li>
            <a class="dropdown-item" 
              ><i class="bi bi-door-open-fill me-2"></i>Log Out</a
            >
          </li>
        </ul>
      </div>
      <button
      
        [routerLink]="['/auth/signup']"
        class="navbar__button"
      >
        SignUp
      </button>
    </div>
    <div class="d-flex justify-content-end d-sm-none">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <i class="toggler__icon bi bi-list"></i>
      </button>
    </div>
  </div>
</div>
<div
  class="row navbar__collapse-row collapse navbar-collapse mb-5"
  id="navbarNav"
>
  <div class="d-flex flex-sm-row flex-column justify-content-sm-between pt-3">
    <div class="order-sm-1 order-2">
      <div class="d-flex flex-column">
        <h5 class="navbar__link">Browse Courses</h5>

        <h5 class="navbar__link">About</h5>

        <h5 class="navbar__link">Conatct Us</h5>
      </div>
    </div>
    <div class="order-sm-2 order-1 d-sm-block d-flex justify-content-end">
      <a
        class="nav-item"
        style="position: relative; color: inherit"
        [routerLink]="['/cart']"
      >
        <i class="navbar__cart bi bi-cart2"></i>
        <span
          style="position: absolute; top: -15px; left: 9px; font-weight: bold"
          ></span
        ></a
      >
      <i
       
        class="navbar__profile-icon bi bi-person-circle"
      ></i>
      <button
       
        [routerLink]="['/auth/signup']"
        class="navbar__button"
      >
        SignUp
      </button>
    </div>
  </div>
</div>
