@import "./responsive.scss";
@import "global";
.vector-img{
    width:clamp(15rem, 35vw, 32rem);

}
h2{
    font-size: clamp(1.3rem, 3vw, 1.7rem) !important;
}
h4{
    font-size: clamp(1rem, 2.2vw, 1.1rem) !important;
}
*{
    color:white;
}
.brand{
   color:cyan;
}