<div class="container-fluid  p-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-xxl-6 mb-xxl-0 mb-5 d-flex justify-content-center">
      <img class="vector-img" src="assets/images/working-vector.png"/>
    </div>
    <div class="col-xxl-6 mt-xxl-0 mt-5" style="color:black;">
      <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-xl-start justify-content-center mb-4">
          <h2>The <span class="brand">Benova</span> Diffrence</h2>
        </div>
        <div class="col-12">
          <div class="d-flex flex-column">
            <h4 class="bold"><span style="font-size:4rem;color:cyan">. </span>Prove Mastery Through Hands-On Projects</h4>
            <h6 class="light">
              Our open-ended projects are modeled after real-world workplace
              scenarios, and require in-depth critical thinking and creative
              solutions.
            </h6>
          </div>
        </div>
        <div class="col-12 ">
          <div class="d-flex flex-column">
            <h4 class="bold"><span style="font-size:4rem;color:cyan">. </span>Succeed with Personalized Feedback</h4>
            <h6 class="light">
              Every project receives personalized feedback from industry
              experts, and our mentors are available to answer questions
              whenever you're feeling stuck.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
