<div class="container-fluid bg-white p-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-xl-6 d-flex justify-content-center">
      <video autoplay="autoplay">
        <source src="assets/videos/workspaces.webm" type="video/mp4" />
      </video>
    </div>
    <div class="col-xl-6 mt-xl-0 mt-5" style="color:black;">
      <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-start mb-5">
          <h3>The Benova Diffrence</h3>
        </div>
        <div class="col-12 mb-5 mt-2">
          <div class="d-flex flex-column">
            <h4 class="bold">Prove Mastery Through Hands-On Projects</h4>
            <h6 class="light">
              Our open-ended projects are modeled after real-world workplace
              scenarios, and require in-depth critical thinking and creative
              solutions.
            </h6>
          </div>
        </div>
        <div class="col-12 mb-5">
          <div class="d-flex flex-column">
            <h4 class="bold">Succeed with Personalized Feedback</h4>
            <h6 class="light">
              Every project receives personalized feedback from industry
              experts, and our mentors are available to answer questions
              whenever you're feeling stuck.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
