<div style="position: relative;" class="container-fluid speakers-section d-lg-block d-none">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="assets/images/speakers.png" alt="speakers" class="speakers-img">
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p class="speakers-text">Enjoy <span>Synchronized</span> Sound</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
             <p class="speakers-discount">For Discounts At <span>60%</span></p>
        </div>
    </div>
</div>