<div class="section">
  <h1 class="section__heading">What you'll learn</h1>
  <div class="row section__bullets-row">
    <div class="col-sm-6">
      <div class="section__bullet d-flex flex-row">
        <i class="bullet__icon bi bi-check2 pe-3"></i>
        <p class="bullet__body">
          Automate the Boring Stuff with Python Programming
        </p>
      </div>
      <div class="section__bullet d-flex flex-row">
        <i class="bullet__icon bi bi-check2 pe-3"></i>
        <p class="bullet__body">
          After the course you will be able to build any website you want.
        </p>
      </div>
      <div class="section__bullet d-flex flex-row">
        <i class="bullet__icon bi bi-check2 pe-3"></i>
        <p class="bullet__body">Work as a freelance web developer.</p>
      </div>
      <div class="section__bullet d-flex flex-row">
        <i class="bullet__icon bi bi-check2 pe-3"></i>
        <p class="bullet__body">Master backend development</p>
      </div>
    </div>
    <div class="col-sm-6 pe-0">
      <div class="section__bullet d-flex flex-row">
        <i class="bullet__icon bi bi-check2 pe-3"></i>
        <p class="bullet__body">
          Learn the latest technologies, including Javascript,Node.
        </p>
      </div>
      <div class="section__bullet d-flex flex-row">
        <i class="bullet__icon bi bi-check2 pe-3"></i>
        <h6 class="bullet__body">
          Build websites and web apps for your startup or business.
        </h6>
      </div>
      <div class="section__bullet d-flex flex-row">
        <i class="bullet__icon bi bi-check2 pe-3"></i>
        <p class="bullet__body">Master frontend development</p>
      </div>
      <div class="section__bullet d-flex flex-row">
        <i class="bullet__icon bi bi-check2 pe-3"></i>
        <p class="bullet__body">Learn professional developer.</p>
      </div>
    </div>
  </div>
</div>
