<div class="section box">
  <h1 class="section__heading">This Course Includes:</h1>
  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-play-btn"></i>
        <p class="box-points">61 hours on-demand video</p>
      </div>
      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-cloud-arrow-down"></i>
        <p class="box-points">194 downloadable resources</p>
      </div>
      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-code"></i>
        <p class="box-points">7 coding exercises</p>
      </div>
    </div>
    <div class="col-sm-6 pe-0">
      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-phone"></i>
        <p class="box-points">Access on mobile and TV</p>
      </div>
      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-trophy"></i>
        <p class="box-points">Certificate of completion</p>
      </div>
      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-file-earmark"></i>
        <p class="box-points">65 articles</p>
      </div>
    </div>
  </div>
</div>
