.section__heading{
  font-size: var(--fs-lg);
}
.box-points {
  font-size: 0.9em;
  font-weight: 400;
}
.box i {
  font-size: 1.3rem;
  padding-right:20px;
}
p{
  font-size: var(--fs--base) !important;
  padding:10px 0px;
}
