
    <div [routerLink]="['courses', currentCourse!._id]" style="cursor: pointer;border-style: none;background-color: transparent;" class="card row ">
        <div class="col-12">
            <img src="{{currentCourse!.image}}"/>
        </div>
        <div class="col-12 mt-2">
            <h5 class="title bold">{{currentCourse!.title}}</h5>
        </div>
        <div class="col-12">
            <h6 style="font-size: 0.9em;" class="light">{{currentCourse!.author}}</h6>
        </div>
        <div class="col-12">
            <course-rating></course-rating>
        </div>
        <div class="col-12">
            <h5 class="price bold">${{currentCourse!.price}} <span *ngIf="currentCourse!.oldPrice" class="discount light ms-3">${{currentCourse!.oldPrice}}</span></h5>
        </div>
    </div>