<div class="col-2">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/learn-python.jpeg"/>
        </div>
        <div class="col-12">
            <h5 class="md-text">Pyhton for Data Science and Machine Learning Bootcamp</h5>
        </div>
        <div class="col-12">
            <h5 class="md-text light">Jose Portilla,Pierian Training</h5>
        </div>
        <div class="col-12">
            <h6 >4.6 <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <span class="light ms-3">(134,893)</span></h6>
        </div>
        <div class="col-12">
            <h5 class="lg-text bold">$299.99 <span class="discount ms-3">$340.80</span></h5>
        </div>
    </div>
</div>