
    <div style="border-style: none;" class="card row">
        <div class="col-12">
            <img src="assets/images/learn-python.jpeg"/>
        </div>
        <div class="col-12">
            <h5 class="sm-text bold">Pyhton for Data Science and Machine Learning Bootcamp</h5>
        </div>
        <div class="col-12">
            <h6 style="font-size: 0.9em;" class="light">Jose Portilla,Pierian Training</h6>
        </div>
        <div class="col-12">
            <h6 style="font-size: 0.9em;" >4.6 <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <span class="light ms-3">(134,893)</span></h6>
        </div>
        <div class="col-12">
            <h5 class="md-text bold">$299.99 <span class="discount ms-3">$340.80</span></h5>
        </div>
    </div>