<section class="section">
  <div class="container-fluid d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <h1 class="section__heading">Learn Faster, Learn Smarter.</h1>
      </div>
      <div class="col-12 stats-row">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-4 d-flex justify-content-center section__stat">
            <div class="d-flex flex-column align-items-center">
              <img src="assets/images/instructor.png" class="stat__image" />
              <p class="stat__text">Top Tier Educators</p>
              <p class="stat__description">
                Our top-tier instructors are industry leaders and AI experts
                with years of experience in academia and real-world
                applications. They bring a wealth of knowledge, practical
                insights, and personalized mentorship to help you excel in your
                AI learning journey.
              </p>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-center section__stat">
            <div class="d-flex flex-column align-items-center">
              <img src="assets/images/support.png" class="stat__image" />
              <p class="stat__text">24/7 Support</p>
              <p class="stat__description">
                Our company offers 24/7 support to ensure students have
                uninterrupted access to guidance and assistance. Whether it’s a
                technical issue, course-related query, or career advice, our
                dedicated team is always available to help you succeed.
              </p>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-center section__stat">
            <div class="d-flex flex-column align-items-center">
              <img src="assets/images/certificate.png" class="stat__image" />
              <p class="stat__text">Accredited Certificates</p>
              <p class="stat__description">
                Our company provides globally recognized accredited certificates
                that validate your AI skills and expertise. Partnered with top
                institutions, our certifications boost your career prospects and
                ensure you stand out in the competitive AI industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
