<section class="about-us-section">
  <div class="row d-flex align-items-center ">
    <div class="col-6 left-section">
      <div class="row">
        <div class="col-12">
          <h1 class="section__heading">Who Are We?</h1>
        </div>
        <div style="position: relative" class="col-12 section__description">
          <p class="line line-1">
            Future Minds is a cutting-edge online educational platform dedicated
            to empowering students with the skills and knowledge to thrive in
            the world of Artificial Intelligence. At the core of our mission is
            the belief that education is the key to unlocking human potential,
            and AI is the gateway to the future. With an intuitive and engaging
            website.
          </p>
          <p class="line line-2">
            As a company, Future Minds is committed to breaking barriers and
            making AI education accessible to everyone, regardless of geographic
            location or financial background. We leverage the latest technology
            to create an immersive learning environment that adapts to the pace
            and style of each student.
          </p>
          <p class="line line-3">
            Beyond education, Future Minds envisions a community of learners and
            innovators passionate about leveraging AI for societal good. We
            believe in nurturing a culture of lifelong learning and continuous
            improvement, encouraging our students to think critically and
            creatively about how AI can solve complex global challenges.
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 right-section">
      <img class="section__image" src="assets/images/happy-meeting.jpg" />
    </div>
   
    <div class="col-12 sliders-row d-flex justify-content-center">
      <div class="d-flex flex-row d-flex justify-content-center">
        <div class="slider slider-1"></div>
        <div class="slider slider-2"></div>
        <div class="slider slider-3"></div>
      </div>
    </div>
  </div>
</section>
