<div class="contain container-fluid">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-xxl-6 mb-xxl-0 mb-5 d-flex justify-content-center">
      <img class="vector-img" src="assets/images/team-vector.png" />
    </div>
    <div class="text-container col-xxl-6 mt-xxl-0 mt-5">
      <div class="row d-flex justify-content-center">
        <div
          class="col-12 d-flex justify-content-xl-start justify-content-center mb-4"
        >
          <h1 class="main-text">Why Us ?</h1>
        </div>
        <div class="col-12 first-li">
          <div class="d-flex flex-column">
            <h4><span class="dot">. </span>Expert-Curated Content</h4>
            <h6 class="subheading">
              Our courses are crafted by leading AI professionals, ensuring you
              learn from the best and stay updated with the latest industry
              practices.
            </h6>
          </div>
        </div>
        <div class="col-12 second-li">
          <div class="d-flex flex-column">
            <h4><span class="dot">. </span>Personalized Learning Experience</h4>
            <h6 class="subheading">
              We offer tailored recommendations, interactive lessons, and
              hands-on projects to help you master AI at your own pace.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
