@import "./responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "global";
.vector-img {
  width: clamp(15rem, 35vw, 32rem);
}
.dot {
  font-size: var(--fs-xxl);
  color: $black;
}
.main-text {
  font-size: var(--fs-xxxl);
}
.subheading {
  font-size: var(--fs--sm);
  line-height: 1.5;
  font-weight: 400;
}

* {
  color: $black;
}
.brand {
  color: $primary;
}
