<body-layout>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <h2 *ngIf="searchAll" class="bold">All Results</h2>
                <h2 *ngIf="!searchAll" class="bold">{{(coursesService.searchCourses$ |async)!.length}} Results for '{{search}}'</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="d-flex  justify-content-between align-items-center">
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="button-div d-flex justify-content-around align-items-center">
                                 <div class="d-flex align-items-center  flex-row ">
                                  <i style="font-size:1.5rem;" class="bi bi-filter "></i>
                                  <h5 class="ms-3">Filter</h5>
                                 </div>
                            </div>
                         </div>
                         <div class="col-sm-8 mt-sm-0 mt-3">
                          <div class="button-div d-flex justify-content-around align-items-center">
                              <div class="d-flex align-items-center  flex-row ">
                               <h5 >Sort By</h5>
                               <i style="font-size:1.5rem;" class="bi bi-caret-down ms-3"></i>
                              </div>
                         </div>
                         </div>
                    </div>
                </div>
                <div class="d-sm-block d-none col-xl-8 col-lg-6 col-md-4 col-sm-2 col-12 d-flex justify-content-end">
                    <h6>{{(coursesService.searchCourses$ | async)!.length}} results</h6>
                </div>
            </div>
          
          
         </div>
        <div class="row ">
            <div class="col-xxl-4 col-xl-3">
                <search-sidebar></search-sidebar>
            </div>
            <div class="col-xxl-8 col-xl-9 mt-5">
                <search-results></search-results>
            </div>
        </div>
    </div>
</body-layout>