<div class="container-fluid ">
   
    <div class="row mt-5">
        <div class="optiondiv col-12">
              <div class="d-flex flex-row align-items-center justify-content-between">
                <h5>Ratings</h5>
                <i style="font-size:1.5rem;" class="bi bi-caret-down ms-3"></i>
              </div>
        </div>
        <div class="optiondiv col-12 mt-1">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <h5>Language</h5>
              <i style="font-size:1.5rem;" class="bi bi-caret-down ms-3"></i>
            </div>
      </div>
      <div class="optiondiv col-12 mt-1">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <h5>Video Duration</h5>
          <i style="font-size:1.5rem;" class="bi bi-caret-down ms-3"></i>
        </div>
  </div>
  <div class="optiondiv col-12 mt-1">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h5>Topic</h5>
      <i style="font-size:1.5rem;" class="bi bi-caret-down ms-3"></i>
    </div>
</div>
<div class="optiondiv col-12 mt-1">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h5>Level</h5>
      <i style="font-size:1.5rem;" class="bi bi-caret-down ms-3"></i>
    </div>
</div>
<div class="optiondiv col-12 mt-1">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h5>Subtitiles</h5>
      <i style="font-size:1.5rem;" class="bi bi-caret-down ms-3"></i>
    </div>
</div>
<div class="optiondiv col-12 mt-1">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h5>Price</h5>
      <i style="font-size:1.5rem;" class="bi bi-caret-down ms-3"></i>
    </div>
</div>
    </div>
</div>