<div class="speaker-section container-fluid">
  <div class="row d-flex align-items-center">
    <div
      style="position: relative"
      style="min-height: 300px"
      class="col-xl-5 image-container"
    >
      <img
      
        class="speaker-section__image"
        src="assets/images/speaker.png"
      />
    </div>
    <div class="col-xl-7 text-container ps-lg-5">
      <div class="row">
        <div class="col-12">
          <h1 class="speaker-section__heading">
            EchoWave Speaker – Pure Sound, Powerful Impact
          </h1>
        </div>
        <div class="col-12">
          <h2 class="speaker-section__subheading">
            Experience the Power of Pure Sound with EchoWave Speakers
          </h2>
        </div>
        <div class="col-12 speaker-section__buttons">
          <div class="d-flex flex-row">
            <button class="section__button button--secondary">About Us</button>
            <button [routerLink]="['/products',1]" class="section__button button--primary ms-4">
              View Product
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
