@import "global";
.checkout-btn {
  background-color: $secondary;
  color: white;
  padding: 10px 10px 10px 10px;
  border: none;
}
.promotions input {
  padding: 5px;
  width:100%;
}
.promotions button{
  color:white;
  border:none;
}
