<!-- <div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-center flex-column">
      <h1 class="summary__title">Total:</h1>
      <p class="summary__total">${{ totalCart | money }}</p>
      <button (click)="checkout()" class="checkout-btn">Checkout</button>
    </div>
  </div>
  <hr />
  <div class="row mt-4 promotions">
    <div class="d-flex flex-column">
      <h6 class="bold">Promotions</h6>
      <div class="d-flex flex-row">
        <input placeholder="Enter Coupon" />
        <button class="secondary-bg">Apply</button>
      </div>
    </div>
  </div>
</div> -->
