@import "global";
.checkout-btn {
  background-color: $secondary;
  color: $black;
  padding: 10px 10px 10px 10px;
  border: none;
  margin-top:var(--rowgap-xl)
}
.summary__title{
  font-size:var(--fs-md)
}
.summary__total{
  font-size: var(--fs-lg);
}
.promotions input {
  padding: 5px;
  width:100%;
}
.promotions button{
  color:white;
  background-color: $black;
  border:none;
}

*{
  color:white;
}