<div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-center flex-column">
      <h6>Total:</h6>
      <h2 class="bold">299$</h2>
      <h5 style="color: gray" class="discount">350$</h5>
      <button class="checkout-btn">Checkout</button>
    </div>
  </div>
  <hr />
  <div class="row mt-4 promotions">
    <div class="d-flex flex-column">
      <h6 class="bold">Promotions</h6>
      <div class="d-flex flex-row">
        <input placeholder="Enter Coupon" />
        <button class="secondary-bg">Apply</button>
      </div>
    </div>
  </div>
</div>
