<home-hero-section></home-hero-section>
<body-layout>
  <div class="container-fluid">
    <div class="row justify-content-center d-sm-flex d-none">
      <div class="col-12 d-flex justify-content-center mt-5">
        <h1 class="lg-text text-center bold">
          The world largest selection of courses
        </h1>
      </div>
      <div class="col-12 d-flex justify-content-center mb-5">
        <h5 class="sm-text text-center light">
          Featured Web Development Courses
        </h5>
      </div>
      @for (
        course of (coursesService.courses$ | async)!.slice(0, 4);
        track course._id
      ) {
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <course-card
            class="d-flex justify-content-center"
            [courseId]="course._id"
          ></course-card>
        </div>
      }
    </div>
    <div class="section">
      <home-workspaces></home-workspaces>
    </div>
    
    <about-us-section></about-us-section>
    <students-rating-section></students-rating-section>
  </div>
</body-layout>
