@import "global";
@import "responsive";
* {
  color: white;
}
@media (min-width: 320px) and (max-width: 479px) {
  .main-container {
    margin: 0px 16px !important;
  }
}
@media (min-width: 480px) and (max-width: 700px) {
  .main-container {
    margin: 0px 24px !important;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  .main-container {
    margin: 0px 32px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1439px) {
  .main-container {
    margin: 0px 80px !important;
  }
}
@media (min-width: 1440px) {
  .main-container {
    margin: 0px 96px !important;
  }
}
.main-container {
  width: 1200px;
}

.header-section {
  background-color:hsla(0,0%,5%,1);
  --_mesh-gradient-blur: 100px;
  background-image:
  radial-gradient(at 68% 82%, hsla(223,0%,6%,1) 0px, transparent 50%),
  radial-gradient(at 42% 22%, hsla(26,0%,6%,1) 0px, transparent 50%),
  radial-gradient(at 46% 63%, hsla(189,0%,8%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(355,0%,8%,1) 0px, transparent 50%),
  radial-gradient(at 100% 54%, hsla(281,100%,50%,0.84) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(289,0%,6%,0.47) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(289,100%,50%,0.95) 0px, transparent 50%);
}
/*Courses Section*/
/**/
.courses-section {
  margin-top: var(--rowgap-5xl);
}
.bi-star-fill {
  color: gold;
}
.courses-section__subheading {
  max-width: 80%;
  font-size: var(--fs-sm);
  margin-top: var(--rowgap-md);
  line-height: 1.3;
  font-weight: 400;
}
.courses-section__heading {
  font-size: var(--fs-xxxl);
}
.courses-section__buttons-row {
  margin-top: var(--rowgap-2xl);
}
.section__button {
  padding: 8px 16px;
  margin: 0px var(--columnpadding-xl);
  background-color: white;
  color: $black;
  border: 1px solid $black;
  font-weight: 600;
}
.button--important:hover {
  background-color: lighten($primary, 10%);
}
.button--important {
  background-color: $primary;
  color: white;
  transition: 0.2s;
}
.section__button:first-child {
  margin-left: 0;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card-text {
  font-size: clamp(0.9rem, 1vw, 1rem) !important;
}
.course-image {
  width: 100%;
}
.course__title {
  font-weight: bold;
  font-size: var(--fs--base);
  color: $black;
}
.more-details-btn {
  background-color: white;
  font-weight: 500;
  padding: 8px 16px;
  color: black;
  transition: 0.2s;
}
.more-details-btn:hover {
  background-color: $black;
  color: white;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.section {
  margin: var(--rowgap-6xl) 0px;
}
.hero-section {
  margin-bottom: var(--rowgap-7xl);
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: $black;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

/*Slider*/

[type="radio"] {
  display: none;
}
.slider__heading {
  font-size: var(--fs-xxl);
  position: absolute;
  left: -50px;
  top: -100px;
  width: 600px;
}
#slider {
  height: 420px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-50%, 0, -200px);
  filter: blur(5px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow:
    0 6px 10px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-25%, 0, -100px);
  filter: blur(5px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow:
    0 13px 25px 0 rgba(0, 0, 0, 0.3),
    0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow:
    0 6px 10px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(25%, 0, -100px);
  filter: blur(5px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(60%, 0, -200px);
  filter: blur(5px);
}

#slide1 {
  background-color: white;
}
#slide2 {
  background-color: white;
}
#slide3 {
  background-color: white;
}
#slide4 {
  background-color: white;
}
#slide5 {
  background-color: white;
}
