@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
.logo {
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
}
.footer {
  margin-top: var(--rowgap-6xl);
  padding:3em;
  border-top: 1px solid rgb(128, 128, 128);
}
a{
  text-decoration: none;
}