@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
.logo {
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
}
.footer {
  margin-top: var(--rowgap-6xl);
  padding:10em;
  border-top: 1px solid rgb(165, 165, 165);
}
