@import "global";
.course-image{
   width:100%;
}
.cart__subheading{
    font-size:var(--fs-sm);
    margin-top:var(--rowgap-lg)
}
.cart__items-row{
    margin-top:var(--rowgap-xl)
}
.course-owner-title{
    font-size:0.9em;
    font-weight: 400;
}
.link{
    cursor: pointer;
}
.right-section .buttons h6{
    font-size:0.9em;
}
.buttons h6{
color:$link;
}
*{
    color:white;
}