<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0 bold">
            <h6 class="bold">1 Course In Cart</h6>
        </div>
        <hr>
        <div class="row p-0 m-0">
            <div class="col-12">
                <div class="row ">
                    <div class="col-2 p-0">
                        <img class="course-image" src="assets/images/learn-python.jpeg"/>
                    </div>
                    <div class="col-7">
                     <div class="row">
                        <div class="col-12">
                            <h6 class="bold ">The Complete 2024 Python Development BootCamp</h6>
                        </div>
                        <div class="col-12">
                            <h6 class=" course-owner-title ">By John Willam</h6>
                        </div>
                        <div class="col-12">
                            <course-rating></course-rating>
                        </div>
                     </div>
                    </div>
                   
                    <div class="right-section col-3 p-0 ">
                      <div class="row">
                        <div class="buttons p-0  col-6">
                         <div class="d-flex flex-column">
                         <h6 class="text-end mb-3 link">Remove</h6>
                         <h6 class="text-end link">Save For Later</h6>
                         </div>
                        </div>
                        <div  class="col-6 d-flex justify-content-end pe-0 ">
                            <div class="d-flex flex-column">
                                <h6>245$ <i class="bi bi-tag-fill"></i></h6>
                                <h6 class="discount">180$</h6>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>