@media(max-width:2000px){
    .course-image{
        width:120px !important;
    }
}
@media(max-width:1700px){
    .course-image{
        width:100px !important; 
    }
}
@media(max-width:1200px){
    h5{
        font-size: 1.1rem !important;
    }
}