@media (max-width: 2000px) {
  .course-image {
    width: 120px !important;
  }
}
@media (max-width: 1700px) {
  .course-image {
 
  }
}
@media (max-width: 1200px) {
  h5 {
    font-size: 1.1rem !important;
  }
}
@media (max-width: 768px) {
  .course-image {
    width: 20rem !important;
  }
  h5 {
    font-size: 1.3rem !important;
  }
}
@media(max-width:500px){
    .course-image {
        width: 15rem !important;
      }
}