<button
  class="button rectanglebtn"
  [attr.type]="type"
  [style.width]="width"
  [style.height]="height"
  [style.font-size]="fontSize"
  [ngClass]="{
    'btn-loading': loading,
    medium: size == 'medium',
    small: size == 'small',
    large: size == 'large',
  }"
  [disabled]="disabled || loading"
  (click)="handleClick()"
>
  <ng-content></ng-content>
  <span
    *ngIf="loading"
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
  ></span>
</button>
