.rectanglebtn {
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  color: white;
  font-weight: 600;
}
.medium {
  padding: 10px 20px 10px 20px;
  font-size: 1.1em;
}
.large {
  width: 20em;
  font-size: 1.8em !important;
}

.rectanglebtn:hover,
.rectanglebtn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.rectanglebtn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.rectanglebtn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
