@import "global";
* {
  color: white;
}
.heading{
    font-size:var(--fs-xxxl)
}
.bi-star-fill{
    color:gold;
}
.cards-row{
    margin-top:var(--rowgap-3xl)
}
.card__name{
    font-size: var(--fs--base);
    font-weight: 500;
}
.card {
    min-height:200px;
    max-width:400px;
}
@media(max-width:400px){
    .card{
        height:250px;
    }
   
}
.card-profilePic {
  width: 3rem;
}
