<div class="container-fluid">
  <h1 class="heading">Students Reveiws</h1>
  <div class="row cards-row">
    <!-- Testimonial 1 -->
    <div class="col-md-4 mb-4 d-flex justify-content-center">
      <div
        class="card bg-dark shadow text-center d-flex justify-content-center p-3"
      >
        <div
          class="mb-3 d-flex flex-row align-items-center justify-content-between"
        >
          <div class="d-flex flex-row align-items-center">
            <img
              class="card-profilePic"
              src="assets/images/profile-pic-vector.png"
            />
            <p class="ps-3 card__name" >
              Yousef Ahmed
            </p>
          </div>
          <h6 class="d-sm-block d-none">
            4.6 <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            "This platform has transformed my learning experience. The courses
            are top-notch!"
          </p>
        </div>
        <h6 class="d-sm-none d-block">
          4.6 <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </h6>
      </div>
    </div>
    <!-- Testimonial 2 -->
    <div class="col-md-4 mb-4 d-flex justify-content-center">
      <div
        class="card bg-dark shadow text-center d-flex justify-content-center p-3"
      >
        <div
          class="mb-3 d-flex flex-row align-items-center justify-content-between"
        >
          <div class="d-flex flex-row align-items-center">
            <img
              class="card-profilePic"
              src="assets/images/profile-pic-vector.png"
            />
            <p class="ps-3 card__name">Yousef Ahmed</p>
          </div>
          <h6 class="d-sm-block d-none">
            4.6 <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            "This platform has transformed my learning experience. The courses
            are top-notch!"
          </p>
        </div>
        <h6 class="d-sm-none d-block">
          4.6 <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </h6>
      </div>
    </div>
    <!-- Testimonial 3 -->
    <div class="col-md-4 mb-4 d-flex justify-content-center">
      <div
        class="card bg-dark shadow text-center d-flex justify-content-center p-3"
      >
        <div
          class="mb-3 d-flex flex-row align-items-center justify-content-between"
        >
          <div class="d-flex flex-row align-items-center">
            <img
              class="card-profilePic"
              src="assets/images/profile-pic-vector.png"
            />
            <p class="ps-3 card__name">Kareem Waleed</p>
          </div>
          <h6 class="d-sm-block d-none">
            4.6 <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            "This platform has transformed my learning experience. The courses
            are top-notch!"
          </p>
        </div>
        <h6 class="d-sm-none d-block">
          4.6 <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </h6>
      </div>
    </div>
  </div>
</div>
