@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
$primary: #26243c;
$secondary: rgba(103, 58, 183, 0.8);
$thirdary: #00c16e;
$link: #c0c4fc;
//text sizes and fonts--
.button {
  background-color: $thirdary;
  cursor: pointer;
}
.discount {
  font-weight: 100;
  text-decoration: line-through;
}
.price {
  font-family: "Fjalla One", sans-serif;
  color: #3b3b3b;
}
.lg-text {
  font-size: 1.7rem !important;
}
.heading {
  font-size: 3em;
  font-family: "Bebas Neue", cursive;
}
.md-text {
  font-size: 1.1em !important;
}
.sm-text {
  font-size: 1em !important;
}
.light {
  font-weight: 100;
}
.bold {
  font-weight: 700;
}
.sub-heading {
  font-size: 2em;
  font-family: "Bebas Neue", cursive;
}
//end of text sizes and fonts

//colors---
.primary-bg {
  background-color: $primary;
}
.secondary-bg {
  background-color: $secondary;
}
.primary-text {
  color: $primary;
}
.secondary-text {
  color: $secondary;
}
.link {
  color: $link;
  text-decoration: underline;
  cursor: pointer;
}
//end of colors

//icons--
.bi-star-fill,
.bi-star,
.bi-star-half {
  font-size: 0.9rem !important;
  color: gold;
}
//end of icons
