<div class="container-fluid">
  <div class="hero row d-flex align-items-center">
    <div class="content col-6 d-flex justify-content-center">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1
            style="max-width: 400px; text-wrap: wrap"
            class="heading text-white"
          >
            Learn new skills online with top educators
          </h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <h5
            style="max-width: 405px; text-wrap: wrap; font-weight: 100"
            class="text-start text text-white"
          >
            Learn 100% online with world class universities and industry experts
          </h5>
        </div>
        <div class="col-12 d-flex justify-content-end mt-3">
          <form>
            <input class="p-3" placeholder="what do you want to learn?" />
            <div class="secondary-bg">
              <i
                style="color: white"
                class="bi bi-search d-flex align-items-center p-3"
              ></i>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <h1 style="font-size: 4em; opacity: 0.7" class="text-white heading">
        +50,000
        <span class="secondary-text" style="font-size: 0.4em">EDUCATORS</span>
      </h1>
    </div>
  </div>
</div>
