<div class="container-fluid">
  <div
    class="hero row d-flex align-items-center justify-content-lg-start justify-content-center"
  >
    <div
      class="content col-xl-5 col-lg-8 col-sm-10 col-12 d-flex justify-content-center"
    >
      <div class="row d-flex justify-content-xl-end justify-content-center">
        <div class="col-sm-9 col-11">
          <div class="row text">
            <div
              class="col-12 d-flex justify-content-lg-start justify-content-center"
            >
              <h1
                style="max-width: 400px; text-wrap: wrap"
                class="text-lg-start text-center heading text-white"
              >
                Learn new skills online with top educators
              </h1>
            </div>
            <div
              class="col-12 d-flex justify-content-lg-start justify-content-center"
            >
              <h5
                style="max-width: 405px; text-wrap: wrap; font-weight: 100"
                class="text-lg-start text-center text text-white"
              >
                Learn 100% online with world class universities and industry
                experts
              </h5>
            </div>
            <div class="col-12 d-flex justify-content-end mt-3">
              <form class="bg-white p-0" style="width: 100%">
                <input
                  style="width: 100%"
                  class="p-3"
                  placeholder="what do you want to learn?"
                />
                <div class="button">
                  <i
                    style="color: white"
                    class="bi bi-search d-flex align-items-center p-3"
                  ></i>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-7 d-xl-flex d-none  justify-content-center">
      <img  src="assets/images/hero-vector.png" />
    </div>
  </div>
</div>
