<div class="container-fluid  hero ">
  <div
    class="hero__content-row row d-flex justify-content-center"
  >
    <div class="left-section col-12" >
      <div class="row">
        <img class="hero-image " src="assets/images/headphone.png"/>
        <h1 class="hero-header text-center">
          Immerse Yourself in Pure Sound.
        </h1>
        <h2 class="hero__subheading  text-center">
          Experience Unmatched Clarity and Depth in Every Note
        </h2>
        <!-- <div
          (focusin)="[(isSearchResultsOpen = true)]"
          (focusout)="[(isSearchResultsOpen = false)]"
          class="col-12 hero__form d-flex justify-content-center"
        >
          <form
            (submit)="onSearchSubmit()"
            class="bg-white p-0 search-form"
            style="position: relative;z-index: 99999;"
          >
            <input
              #searchInput
              style="width: 100%"
              class="section__input p-3"
              placeholder="what do you want to learn?"
              (input)="searchCourses(searchInput.value)"
            />
            <div class="button">
              <i class="bi bi-search d-flex align-items-center p-3"></i>
            </div>
            <div
              *ngIf="(coursesService.searchCourses$ | async)!.length"
              [@searchResultsToggle]="isSearchResultsOpen ? 'open' : 'closed'"
              class="hero__search bg-white container-fluid"
            >
              <div class="row mt-3 mb-3">
                <div class="col-12">
                  <p class="search__header">
                    {{ (coursesService.searchCourses$ | async)!.length }}
                    Results for '{{ searchInput.value }}'
                  </p>
                </div>
              </div>
              <hr />
              @for (
                course of coursesService.searchCourses$ | async;
                track course._id
              ) {
                <div
                  [routerLink]="['/courses', course._id]"
                  class="row mt-3 mb-3"
                  style="z-index:99999 !important;"
                >
                  <div
                  style="z-index:99999 !important;"
                    class="col-sm-3 d-flex justify-content-sm-start justify-content-center"
                  >
                    <img
                      class="courseSearchImage"
                      src="{{ course.thumbnailLink }}"
                    />
                  </div>
                  <div class="col-sm-6 mt-sm-0 mt-3">
                    <div class="flex flex-row">
                      <p class="search__title">{{ course.title }}</p>
                    </div>
                  </div>
                  <div class="col-sm-3 bold">
                    <div class="flex flex-column">
                      <p class="search__price">{{ course.price }}$</p>
                      <p
                        class="search__price search__price--discount"
                        *ngIf="course.oldPrice"
                      >
                        {{ course.oldPrice }}
                      </p>
                    </div>
                  </div>
                </div>
              }
            </div>
          </form>
        </div> -->
        <!-- <div style="z-index:0;" class="hero__information-row row d-md-block d-none">
          <div class="d-flex flex-row">
            <div class="information__column">
              <div class="d-flex flex-column ">
                <p class="information__number">+10,000</p>
                <p class="information__text">Educators</p>
              </div>
            </div>
            <div class="information__column">
              <div class="d-flex flex-column">
                <p class="information__number">+100,000</p>
                <p class="information__text">Students</p>
              </div>
            </div>
            <div class="information__column">
              <div class="d-flex flex-column">
                <p class="information__number">+5,000</p>
                <p class="information__text">AI Courses</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
   
  </div>
 
</div>
