@media (max-width: 576px) {
  .information__column:nth-child(2) {
    border: none !important;
  }
  .information__column {
    padding: 10px !important;
  }
}
@media (max-width: 986px) {
  .hero__image {
    padding: 0px !important;
  }
}
